{% extends "homePages/base.html" %}

    {% block style %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'style/addAuthor.css' %}">
    {% endblock style %}
{% block title %}Add Author - BookVerse{% endblock %}

{% block content %}


    <div class="formContainer" id="formContainer">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="imageUpload" name="imageUpload" accept="image/*" hidden>
            <div class="img-area selectImage" data-img="">
                <i class='bx bxs-cloud-upload icon'></i>
                <h3>Upload Profile Picture</h3>
                <p>Click to upload image</p>
            </div>

            <input type="text" name="name" id="name" placeholder="Enter author name" value="{{ author.name }}">
            <input type="submit" value="Add" class="submitBtn">
        </form>
    </div>



    <script>
        const selectImage = document.querySelector('.selectImage');
        const inputFile = document.querySelector('#imageUpload');
        const imgArea = document.querySelector('.img-area');

        selectImage.addEventListener('click', function () {
            inputFile.click();
        });

        inputFile.addEventListener('change', function () {
            const image = this.files[0]
            const reader = new FileReader();
            reader.onload = ()=> {
                const allImg = imgArea.querySelectorAll('img');
                allImg.forEach(item=> item.remove());
                const imgUrl = reader.result;
                const img = document.createElement('img');
                img.src = imgUrl;
                imgArea.appendChild(img);
                imgArea.classList.add('active');
                imgArea.dataset.img = image.name;
            }
            reader.readAsDataURL(image);
        });
    </script>
{% endblock content %}