{% extends "homePages/base.html" %}

    {% block style %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'style/forms.css' %}">
    {% endblock style %}
{% block title %}BookVerse{% endblock %}

{% block content %}


    <div class="formContainer" id="formContainer">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
    </div>


    <script>
        function adjustAlignment() {
            const div = document.getElementById('formContainer');

            const viewportHeight = window.innerHeight;
            const divHeight = div.offsetHeight;

            const eightyVh = (viewportHeight * 0.8);

            if (divHeight < eightyVh) {
                div.style.alignItems = 'center';
            } else {
                div.style.alignItems = 'initial';
            }
        }

        adjustAlignment();
        window.addEventListener('resize', adjustAlignment);
    </script>
{% endblock content %}